<% @users.each do |a| %>
    <p>
    UID:<%= a.uid %>
    PASS:<%= a.pass %>
    <%= link_to '削除', user_path(a), data: {"turbo-method": :delete} %><br>
    </p>
<% end %>

<%= link_to '新規追加', new_user_path %>

<hr>

<%= link_to 'ツイート一覧', tweets_path %>