<h1>ユーザー登録</h1>
<%= form_tag ({action: :create}) do %>
    <%= label_tag :uid, 'ユーザーID' %>
    <%= text_field_tag :uid %><br>
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass %><br>
    <%= submit_tag '登録' %>
<% end %>